<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs',{name:null}) %>
            <a class="button" href="/login" style="    margin: auto;
    margin-top: 24rem;
    text-align: center;
    display: block;
    font-family: sans-serif;
    background-color: rgba(5, 5, 5, 0.808);
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.3rem;
    width: 50%;" > <%= msg %> </button>

        <%- include('../partials/tail.ejs') %>