<nav >
  <a class="heading"  href="/">🛒ShopCart</a>
  <% if(name==null){ %>
    <ul>
     
        <a class="nav_item " href="./seller">Become Seller</a>
  
        <a class="nav_item " href="./login">Login</a>
 
        <a class="nav_item" href="./signup">Sign Up</a>
   

    </ul>

    <% }else{ %>

      <ul >
        
          <a class="nav_item " href="/"> <%= name  %>  </a>
       
          <a class="nav_item" href="/cart"> Cart  </a>
      
          <a class="nav_item" href="/changePassword"> Change Password  </a>
    
    
      
          <a class="nav_item" href="/logout"> Logout</a>
      </ul>
      <% } %>
</nav>