<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs',{name:null}) %>
    <div class="popup" id="popup">
        <div class="popup_card" id="product_details">
        </div>
    </div>
    <img src="bg.png" class="bg"/>
    <div class="contain" id="products">
    </div>
    <footer class="footer">
        All Rights Are Reserved © 2023
    </footer>

        <script src="script.js"></script>
        <%- include('partials/tail.ejs') %>