<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs',{name:name}) %>
        <div class="popup" id="popup">
            <div class="popup_card" id="product_details">
            </div>
        </div>
        <div class="contain" id="products">



        </div>
        <div class="contain">
            <button class="primaryButton" id="load_more">Load More</button>
            <br><br>
        </div>
        <script src="script.js"></script>
        <%- include('../partials/tail.ejs') %>